
.bouncyText {
  span {
    display: inline-block;
  }

  &.animate {
    border-bottom: 1px dotted green;
    span {
      animation: bounce 2s;
      animation-delay: calc(var(--i, 0) * .1s);
    }
  }
}

@keyframes bounce {
  0%, 10% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}