
.bouncyText {
  span {
    display: inline-block;
  }

  &.animate {
    span {
      animation: bounce var(--length, 1000ms);
      animation-delay: calc(var(--i, 0) * .1s);
    }
  }
}

@keyframes bounce {
  0%, 10% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}