/* Typical "terminal line" wipe with character stepping */
/* Note the css variables for chars/dur/delay getting piped in by the React component */


.wipeReveal {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  white-space: normal; /* allow wrapping */
  overflow: hidden;
  display: inline-block; /* so max-width works and wraps */

  max-width: 0ch;
  animation: wipe-reveal-typing var(--dur) steps(var(--chars), end) forwards;
  animation-delay: var(--delay);
}

.wipeReveal::after {
  content: "▌";
  margin-left: 0.25ch;
  animation: wipe-reveal-blink 900ms steps(1, end) 3s;
}

.wipeReveal.cursor-done::after {
  opacity: 0;
  animation: none;
}

@keyframes wipe-reveal-typing {
  to {
    max-width: calc(var(--chars) * 1ch);
  }
}

@keyframes wipe-reveal-blink {
  50% {
    opacity: 0;
  }
}

/* this is an accessibility feature. */
@media (prefers-reduced-motion: reduce) {
  .wipeReveal {
    width: auto;
    animation: none;
  }
  .wipeReveal::after {
    animation: none;
  }
}