.tradCarousel {
  display: flex;
  align-items: stretch;

  .stepButton {
    --bg-color: #b6c6dd;

    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: white;
    cursor: pointer;

    &:hover {
      background-color: color-mix(in oklab, var(--bg-color) 95%, black);
    }

    &:active {
      background-color: color-mix(in oklab, var(--bg-color) 90%, black);
    }

    &.disabled {
      background-color: color-mix(in oklab, var(--bg-color) 50%, white);
      cursor: auto;
    }
  }

  .viewPort {
    --column-width: calc(100% / var(--visible, 3));
    --column-offset: calc(-1 * var(--column-width) * var(--page));

    align-items: center;
    display: flex;
    overflow: hidden;
    width: 100%;

    > * {
      transition: transform 300ms;
      flex: 0 0 var(--column-width);
      transform: translateX(calc(var(--page) * -100%));
    }
  }
}

.verticalColumnFeeder {
  display: flex;
  flex-direction: column;

  .child {

  }
}