.tradCarousel {
  --column-width: 100% / var(--visible, 3);
  --column-offset: calc(-1 * --column-width * --page);

  display: flex;
  align-items: stretch;
  width: 100%;

  .stepButton {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    color: white;
    cursor: pointer;
  }

  .viewPort {
    align-items: center;
    display: flex;
    overflow: hidden;
    // max-width: 100%;
    // width: 100%;

    > * {
      flex: 0 0 var(--column-width);
      transform: translateX(var(--column-offset));
    }
  }
}