.resizer-grid {
  display: flex;
  width: 100%;
  height: 100%;
}

.resizer.vertical {
  width: 6px;
  cursor: col-resize;
  background: #e5e7eb;
  z-index: 10;
}

.resizer.horizontal {
  height: 6px;
  cursor: row-resize;
  background: #e5e7eb;
  z-index: 10;
}
